---
---

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import "https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css";

header, footer {
    display: none;
}

pre {
    font-family: 'Source Code Pro';
    background: $char;
    color: $lightGray;
    font-size: 16px;
    padding: 0;
    padding: 10px;
    &:before {
        display: block;
        width: calc(100% + 10px);
        margin-top: -10px;
        margin-left: -10px;
        padding: 5px;
        text-transform: uppercase;
        content: attr(data-lang);
        background: $medBlue;
    }
}

nav {
    float: left;
    width: 30%;
    padding: 2%;
}

section {
    float: left;
    width: 65%;
    padding: 3%;
}

h1, h2, h3, h4, h5 {
    color: #0088dd;
}

h1 {
    padding-bottom: 8px;
}

h2 {
    padding-bottom: 6px;
}

h3 {
    padding-bottom: 4px;
}

h4, h5, h6 {
    padding-bottom: 2px;
}

h6, a {
    color: #009900;
}

h1>a, h2>a, h3>a, h4>a, h5>a {
    color: #0088dd;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6, body, a, input, button, label {
    font-size: 0.8rem
}

table, tr, th, td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

th {
    background-color: #c9e4d0;
}

td {
    background-color: #f3fff3;
}

table.list-article-table, table.list-lecture-table {
    width: 70%;
}
